# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {'國家': ['中國', '台灣', '中國', '香港', '台灣'],
        '人口': np.random.randint(1000, 5000, 5)}
df_data = pd.DataFrame(data)

print('初始資料:')
df_data

初始資料:

   國家    人口
0  中國  4108
1  台灣  4698
2  中國  4356
3  香港  1167
4  台灣  3582

In [4]:
df_group_data = df_data.groupby(by='國家').sum()
print('群組資料:')
df_group_data

群組資料:

      人口
國家
中國  8464
台灣  8280
香港  1167

In [6]:
print('人口最多國家: {}，數值: {}'.format(df_group_data['人口'].idxmax(), df_group_data['人口'].max()))

人口最多國家: 中國，數值: 8464