In [35]:
import pandas as pd
import numpy as np
import os

data_path = '../Data/'
train_data_path = os.path.join(data_path, 'train_data.csv')
print('[+] train_data_path: {}'.format(train_data_path))

train_data = pd.read_csv(train_data_path)
print('[+] train_data shape: {}'.format(train_data.shape))
print('[+] train_data columns type')

train_data.dtypes

[+] train_data_path: ../Data/train_data.csv
[+] train_data shape: (113, 22)
[+] train_data columns type

name                          object
bonus                        float64
deferral_payments            float64
deferred_income              float64
director_fees                float64
email_address                 object
exercised_stock_options      float64
expenses                     float64
from_messages                float64
from_poi_to_this_person      float64
from_this_person_to_poi      float64
loan_advances                float64
long_term_incentive          float64
other                        float64
poi                             bool
restricted_stock             float64
restricted_stock_deferred    float64
salary                       float64
shared_receipt_with_poi      float64
to_messages                  float64
total_payments               float64
total_stock_value            float64
dtype: object

In [36]:
# 檢視資料中[類別型欄位]各自類別的數量
print('[+] train_data object column each num \n{}'.format(train_data.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis=0)))

[+] train_data object column each num
name             113
email_address     83
dtype: int64

In [37]:
train_data[['name', 'email_address', 'poi']].head()

                   name                 email_address   poi
0        RICE KENNETH D            ken.rice@enron.com  True
1    SKILLING JEFFREY K       jeff.skilling@enron.com  True
2            SHELBY REX          rex.shelby@enron.com  True
3      KOPPER MICHAEL J      michael.kopper@enron.com  True
4  CALGER CHRISTOPHER F  christopher.calger@enron.com  True

In [38]:
from sklearn.preprocessing import LabelEncoder

# Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位
# 會比較洽當。。
le = LabelEncoder()
for col in train_data:
    if train_data[col].dtype != 'float64':
        if len(list(train_data[col].unique())) <= 2:
            # Train on the training data && 缺失處理
            train_data[col] = train_data[col].fillna('NaN')
            le.fit(train_data[col])
            train_data[col] = le.transform(train_data[col])
train_data[['name', 'email_address', 'poi']].head()

                   name                 email_address  poi
0        RICE KENNETH D            ken.rice@enron.com    1
1    SKILLING JEFFREY K       jeff.skilling@enron.com    1
2            SHELBY REX          rex.shelby@enron.com    1
3      KOPPER MICHAEL J      michael.kopper@enron.com    1
4  CALGER CHRISTOPHER F  christopher.calger@enron.com    1

In [40]:
# one hot encoding，姓名和EMAIL差異過大，one hot encoding、Lable encoding不覺得洽當
# train_data = pd.get_dummies(train_data)
# train_data.dtypes
# train_data.shape

(113, 216)